/*----- HTML 5 Containers -----*/
body {
    overflow: visible;
}


body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3e606f;
}
header {
    width: 960px;
    height: 120px;
    background-color: #d1dbbd;
    overflow: hidden;
    display: block;
}

main {
    background-color: #FCFFF5;
    overflow: hidden;
    width: 940px;
    padding: 10px;
}

footer {
    display: block;
    width: 960px;
    margin-top: 40px;
    text-align: center;
    color: #ffffff;
}

h1 {
    line-height: 200%;
}

/*----- Buttons -----*/

#welcomeUser button {
    margin-left: 10px;
}

button, .button{
    color: #fff !important;
    word-spacing: 0.25em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border: none;
    line-height: 22px;
    padding: 12px 13px 11px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 18px;
    text-decoration: none;
}
button, .button:visited{
    color: #fff;
}
button, .button{
    padding: 6px 12px 5px;
    font-size: 11px;
    color: #fff;
    text-shadow: none;
}
button, .button:hover{
    color: rgba(255,255,255, 0.75);
    text-decoration: none;
    -webkit-box-shadow:inset 0 10px 20px rgba(255,255,255, 0.10);
    -moz-box-shadow: inset 0 10px 20px rgba(255,255,255, 0.10);
    box-shadow: inset 0 10px 20px rgba(255,255,255, 0.10);
}
button, .button:active {
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
    box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
}

/*----- Tooltips -----*/
#tooltip_container{
    color: #ffffff;
    background-color: rgba(25, 52, 65, 0.85);
    position: absolute;
    padding: 20px;
    max-width: 200px;
    border-radius: 5px;
    display: none;
}
/*----- Classes -----*/
.logo {
    display: block;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.signIn {
    text-align: left;
    padding-right: 10px;
    display: block;
    float: right;
}

.signOut {
    display: block;
    float: right;
    margin-right: 10px;
}

.gallery > ul > li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    border: groove;
}

.gallery {

}
.twoThirds {
    width: 66.666666%;
    float: left;
    display: block;
}

.oneThird {
    width: 33.333333%;
    float: right;
    display: block;
}

.last {
    clear: right;
}



.cta p, button {
    display: inline-block;
    float: left;
}

.cta {

    display: block;
    float: left;
    clear: right;
    width: 960px;
    padding: 10px;
    background-image: url("../images/connectCTA.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px;
}

.hide {
    display: none;
}

/*----- ID's -----*/

#welcomeUser {
    display: block;
    float: right;
    padding-right: 10px;
}

#projectsList {
    width: 100%;
    height: 300px;
    border: groove;
    display: block;
}

#projects {
    display: block;
}

#projectsHeader > ul > li {
    list-style: none;
    display: inline-block;
}

#addProject {
    display: block !important;
    float: left !important;
    margin: 0 !important;
}

#projectsModal {
    border: solid;
    width: 500px;
    height: 300px;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 30%;
    display: none;
    z-index: 9999;
    background-color: #ffffff;
}


#projectsModal button {
    display: block;
    float: left;
    clear: both;
}

#projectsModal span {
    display: block;
    float: left;
}

#projectsModal form {
    display: block;
    float: left;
}

#projectsModal ul {
    display: block;
    float: left;
    clear: both;
}

#modalButtons li {
    display: inline-block !important;
}

#modalList2 input {
    visibility: hidden;
}

#modalList2 li {
    display: inline-block;
}

#modalList2 button {
    background-color: #ffffff !important;
    color: black !important;
}

#modalList2 .activeButton {
    background-color: blue !important;
    color: #ffffff !important;
}

#add {
    background-color: green !important;
}

#cancel {
    background-color: red !important;
}



#signInForm ul li {
    display: block;
    float: left;
    margin-left: 10px;
}

#tabs > ul > li {
    display: inline;
}



/*****FORM CONTAINER****/

form li {
    list-style: none;
}



.formDescription {
    line-height: 1%;
}

#form_container {
    width: 100%;
}
